extends layout

block content
  body
    div#portfolio
        nav
            header
                ul#menu
                    li#mn_accueil
                        a(href='#accueil') Home
                    li#mn_competences
                        a(href='#competences') Skills
                    li#mn_real
                        a(href='#real') Achievements
                    li#mn_cv
                        a(href='#cv') Resume
                    li#mn_contact
                        a(href='#contact') Contact
                    li#mn_lang
                        a(href='../fr')
                            img(src='/images/fr.jpg', width='60', height='30', alt='Fr')

        section#accueil
            div.inside
                h1.titre Hello !
                p#resume I am Yanis BERRY, I am 24 years old and I am currently Junior Developer at Perfect Industry in Orléans.
                    | Above all, I am passionate about web and software programming (HTML, CSS, JavaScript, PHP, SQL, C#, C++, Java), with regard to video games (Unity 3D, Unreal Engine 4),
                    | but I also let myself go to other hobbies like motion-design and 3D animation.
                    | On this site you can discover my different creations, both in video games, web applications, 3D animations and download my resume.
                    | If you want to leave me a message, go to the bottom of the page.
                img#photo(src='', width='60', height='60' alt='Photo')
                p.visite Good visit !

        section#competences
            div.inside
                h1.titre Skills

                each categorie in categories
                    if categorie.competences.length > 0
                        label= categorie.nom_anglais
                        ul
                            each competence in categorie.competences
                                li
                                    img(src='/images/competences/' + competence.lien, alt= competence.nom_competence)
                                    span= competence.nom_competence
                                    br
                                    progress(value= competence.pourcent, max='100')
                                        span

        section#real
            div.inside
                h1.titre Achievements

                if games.length > 0
                    label Video games
                    ul#jeux
                        each game in games
                            li
                                if game.dimensions
                                    a.game-image(href= game.lien, target='_blank', style='background-image:url(/images/games/' + game.image + '); width:' + game.dimensions.width + 'px; height:' + game.dimensions.height + 'px;')
                                p.title-game
                                    a(href= game.lien, target='_blank')= game.nom
                                p.description Made in #{game.duree}. #{game.english_description} 
                                p.partners with 
                                    each partner, index in game.partners
                                        - var name = partner.prenom + ' ' + partner.nom + ' (' + partner.fonction + ')';
                                        if index > 0
                                            | , 
                                        if partner.url === ''
                                            | #{name}
                                        else
                                            a(href= partner.url)= name
                                    | .

                label Web sites & applications
                ul#sites
                    li
                        a(href='../tour') Virtual tour of the department SRC (currently MMI) in Angoulême's IUT
                            
        section#cv
            div.inside
                h3.titre
                    span If you want to download my resume,
                    br
                    span please click on 
                        a.lien_cv(href='/CV Berry Yanis.jpg', target='_blank') this link

        section#contact
            div.inside
                h3.titre If you wish to contact me, please fill in the form below :
                form
                    p
                        label E-mail :
                        input#email(type='email', size='100')
                    p
                        label Object :
                        input#objet(type='text', size='100')
                    p
                        label Message :
                        textarea#message
                    p
                        label(for='verif')
                        input#verif(type='number', min='0')
                    button#envoyer Send
                    p#result
            footer
                p &copy; BERRY Yanis - Portfolio - All rights reserved

    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/jquery.parallax-1.1.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/zoombox/zoombox.min.js')
    script(type='text/javascript', src='/javascripts/index.js')