extends layout

block content
  body
    div#portfolio
        nav
            header
                ul#menu
                    li#mn_accueil
                        a(href='#accueil') Accueil
                    li#mn_competences
                        a(href='#competences') Compétences
                    li#mn_real
                        a(href='#real') Réalisations
                    li#mn_cv
                        a(href='#cv') CV
                    li#mn_contact
                        a(href='#contact') Contact

        section#accueil
            div.inside
                h1.titre Bonjour !
                p#resume Je suis Yanis BERRY, j'ai 24 ans et je suis actuellement Développeur Junior chez Perfect Industry à Orléans.
                    | Je suis avant tout un passionné de programmation web et logicielle (HTML, CSS, JavaScript, PHP, MySQL, C#, C++, Java), surtout en ce qui concerne les jeux vidéo (Unity 3D, Unreal Engine 4).
                    | mais je me laisse aussi vaquer à d'autres occupations comme le motion-design et l'animation 3D.
                    | Sur ce site vous pouvez découvrir mes différentes créations, tant bien au niveau jeux vidéo, applications web, qu'animations 3D, et télécharger mon CV.
                    | Si vous souhaitez me laisser un message, allez en bas de page.
                p.visite Bonne visite !

        section#competences
            div.inside
                h1.titre Compétences

                each categorie in categories
                    if categorie.competences.length > 0
                        label= categorie.nom_francais
                        ul
                            each competence in categorie.competences
                                li
                                    img(src='/images/competences/' + competence.lien, alt= competence.nom_competence)
                                    span= competence.nom_competence
                                    br
                                    progress(value= competence.pourcent, max='100')
                                        span

        section#real
            div.inside
                h1.titre Réalisations

                if games.length > 0
                    label Jeux vidéo
                    ul#jeux
                        each game in games
                            li
                                if game.dimensions
                                    a.game-image(href= game.lien, target='_blank', style='background-image:url(/images/games/' + game.image + '); width:' + game.dimensions.width + 'px; height:' + game.dimensions.height + 'px;')
                                p.title-game
                                    a(href= game.lien, target='_blank')= game.nom
                                p.description Réalisé en #{game.duree}. #{game.french_description} 
                                p.partners avec 
                                    each partner, index in game.partners
                                        - var name = partner.prenom + ' ' + partner.nom + ' (' + partner.fonction + ')';
                                        if index > 0
                                            | , 
                                        if partner.url === ''
                                            | #{name}
                                        else
                                            a(href= partner.url)= name
                                    | .

                label Sites & applications web
                ul#sites
                    li
                        a(href='../tour') Visite virtuelle du département SRC (actuellement MMI) de l'IUT d'Angoulême
                            
        section#cv
            div.inside
                h3.titre
                    span Si vous voulez télécharger mon CV,
                    br
                    span veuillez cliquer sur 
                        a.lien_cv(href='/CV.pdf', target='_blank') ce lien

        section#contact
            div.inside
                h3.titre Si vous souhaitez me contacter, veuillez remplir le formulaire ci-dessous :
                form
                    p
                        label E-mail :
                        input#email(type='email', size='100')
                    p
                        label Objet :
                        input#objet(type='text', size='100')
                    p
                        label Message :
                        textarea#message
                    p
                        label(for='verif')
                        input#verif(type='number', min='0')
                    button#envoyer Envoyer
                    p#result
            footer
                p &copy; BERRY Yanis - Portfolio - Tous Droits Réservés

    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/jquery.parallax-1.1.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/zoombox/zoombox.min.js')
    script(type='text/javascript', src='/javascripts/index.js')